body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-top: 210px;
  border: 2px solid white;
  border-radius: 20px;
}

h1,
p {
  color: blue;
  font-size: x-large;
}

#botao {
  background-color: rgb(54, 47, 255);
  height: 100px;
  width: 200px;
  margin-bottom: 25px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

#zerar {
  background-color: rgb(228, 6, 6);
  height: 100px;
  width: 200px;
  margin-bottom: 25px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

#botao:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px black;
}

#zerar:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px black;
}
