body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    margin-top: 210px;
    border-radius: 3px;
    border: 9px solid white;
}
button{
    margin-top: 20px;
    height: 75px;
    width: 100px;
    border-radius: 20px;
    padding-right: 30px;
    text-align: center;
    font-size: x-large;
}
.botoes{
    display: flex;
    justify-content: space-around;
}
#antes{
    background-color: blue;

}
#proxima{
    background-color: red;
}